{% extends "base.html" %}
{% block content %}

<main>
    <div class="container-fluid">
        <h1>Welcome back {{user.first_name}} {{user.last_name}}!</h1>
    </div>
    <!-- asign athletes and coaches to teams button-->
    <div class="container-fluid">
        <a href="https://example.com" class="btn" style="text-align: center; background-color: #002169; color: white; width: 100%; margin-bottom: 15px;">Athlethes and Coach assigment to a Team</a>

    </div>
    <!-- columns for athltes and teams -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2 style="text-align: center; background-color: #002169;">Athletes</h2>
                <input class="form-control" id="athleteSearch" type="text" placeholder="Search Athletes..." style="background-color: #333; color: white;">
                <ul class="list-group" id="athleteList" style="background-color: #333;">
                    {% for athlete in athletes %}
                        <li class="list-group-item" style="background-color: #333;">{{ athlete.first_name }} {{ athlete.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h2 style="text-align: center; background-color: #002169;">Teams</h2>
                <input class="form-control" id="teamSearch" type="text" placeholder="Search Teams..." style="background-color: #333; color: white;">
                <ul class="list-group" id="teamList" style="background-color: #333;">
                    {% for team in teams %}
                        <li class="list-group-item" style="background-color: #333;">{{ team.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

{% endblock %}


<!-- Scripts for the search columns -->
{% block scripts %}

<script>
    $(document).ready(function(){
        $("#athleteSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#athleteList li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $("#teamSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#teamList li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}