{% extends "base.html" %}
{% block content %}

<main>
    <div class="container-fluid">
        <h1 style="padding: 30px;">Welcome Back {{user.first_name}} {{user.last_name}},</h1> <!-- change to team name -->

        <!-- Graphs Section (row) -->
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">FATIGUE</h5> <!-- Breaking RFD -->
                <p class="card-text">This is card 1.</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">POWER</h5> <!-- RELATIVE POWER -->
                <p class="card-text">This is card 2.</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">MODIFIED REACTIVE INDEX</h5> <!-- MRSi -->
                <p class="card-text">This is card 3.</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">JUMP HEIGHT</h5>
                <p class="card-text">This is card 4.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Athletes status Section (row) -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Athletes</h5>
                    <!-- change for a table for all atheltes -->
                    <table class="table-responsive">
                        <thead>
                            
                        </thead>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
      
</main>

{% endblock %}