{% extends 'base.html' %}

{% block title %}Performance Metric{% endblock %}

{% block content %}
<div class="top">
    <div class="menu" id="menu-btn" style="width: 2rem; height: 2rem;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <h1>{{ athlete.first_name }} {{ athlete.last_name }}'s Performance</h1>
</div>

<div style="width: 98%; height: 85%;">
    <canvas id="athletePerformanceChart"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var performanceData = {{ data | tojson | safe }};
    
    var ctx = document.getElementById('athletePerformanceChart').getContext('2d');
    var athletePerformanceChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: performanceData.map(performance => performance.date),
            datasets: [{
                label: 'Performance Over Time',
                data: performanceData.map(performance => performance.performance),
                backgroundColor: 'rgba(75, 192, 235, 0.2)',
                borderColor: 'rgba(75, 192, 235, 1)',
                borderWidth: 1
            }]
        }
    });
});
</script>
{% endblock %}
