{% extends 'base.html' %}

{% block title %}Notes Dashboard{% endblock %}

{% block content %}

<div class="top">
    <div class="menu" id="menu-btn" style="width: 2rem; height: 2rem;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentcolor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <h1>Notes:</h1>
</div>

<div class="one-col-dash">
    <div class="input-cluster" style="width: 100%;">
        <div class="input-box" style="width: 100%;">
            <input type="text" required="required" id="noteSearch" onkeyup="filterNotes()">
            <span>Lookup by Athlete</span>
        </div>
    </div>

    <table>
      <!-- head of table -->
      <thead>
        <tr>
          <th style="width: 20%;">Name</th>
          <th style="width: 15%;">Date</th>
          <th style="width: 30%;">Text</th>
          <th style="width: 20%;">Created By</th>
          <th style="width: 5%;">Visible</th>
        </tr>
      </thead>

      <!-- table body -->
      <tbody id="noteTable">
        {% for note in notes %}
        <tr>
          <td>{{ note.receiver.first_name }} {{ note.receiver.last_name }}</td>
          <td>{{ note.created_at.strftime('%B %d, %Y') }}</td>
          <td>{{ note.text }}</td>
          <td>{{ note.creator.first_name }} {{ note.creator.last_name }}</td>
          <td>
            <label class="switch">
              <input type="checkbox" id="visibleCheckbox{{ note.id }}" {% if note.visible %}checked{% endif %} onclick="toggleVisibility({{ note.id }})">
              <span class="slider round"></span>
            </label>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}

{% block extra_js %}
<script>
    // Function to filter notes based on athlete name
    function filterNotes() {
          var input, filter, table, tr, td, i;
          input = document.getElementById("noteSearch");
          filter = input.value.toUpperCase();
          table = document.getElementById("noteTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        
        // Function to toggle note visibility
        function toggleVisibility(noteId) {
            var checkbox = document.getElementById("visibleCheckbox" + noteId);
            var visibility = checkbox.checked;

            // Send AJAX request to update note visibility
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/note/edit/" + noteId, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        if (visibility) {
                            alert("Note is now visible");
                        } else {
                            alert("Note is now hidden");
                        }
                    } else {
                        alert("Failed to update note visibility");
                    }
                }
            };

            var data = JSON.stringify({ visibility: visibility });
            xhr.send(data);
        }
</script>
{% endblock %}