<!--
Jonathan Sosa
dataMULE
May - June 23
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dataMULE - Set Password</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main_stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sign_in_stylesheet.css') }}">
    <!-- fonts -->

</head>
<body>

    <!-- Main Body -->
    <main>
      <!-- Main container -->
      <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h1 class="text">dataMULE</h1>
        <h2 class="text">Set Password</h2>
        <form method='POST'>
          <div class="input-cluster">
            <div class="input-box">
              <input type="password" required="required" id="password" name="password" onkeyup="checkPasswordStrength();">
              <span>Password</span>
            </div>
            <div class="input-box">
              <input type="password" required="required" id="password2" name="password2" onkeyup="checkPasswordStrength();">
              <span>Password</span>
            </div>
          </div>
          <span id="password-strength"></span>
          <button type="submit" class="btn" id="sign-in-btn">Change Password</button>
        </br>
        </form>
      </div>
  </main>

  <script>
    window.onload = function () {
            setTimeout(function () {
                var flashMsg = document.getElementById('flash-messages');
                if (flashMsg) {
                flashMsg.style.display = 'none';
                }
            }, 5000);  // 5000ms = 5s
        };
  </script>
  <script>
    function checkPasswordStrength() {
        var strengthText = document.getElementById('password-strength');
        var password = document.getElementById('password').value;
        var password2 = document.getElementById('password2').value;
        // Include . in the list of special characters in the regular expression
        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*\.])(?=.{8,})");
    
        // Check if passwords match
        var passwordsMatch = password === password2;
        var passwordIsValid = strongRegex.test(password);
    
        if(passwordIsValid && passwordsMatch) {
            strengthText.innerHTML = "Strong password and passwords match";
            strengthText.style.color = "green";
            document.getElementById('sign-in-btn').disabled = false;
        } else {
            strengthText.innerHTML = ""; // Clear previous messages
            if(!passwordIsValid) {
                strengthText.innerHTML = "Password must be at least 8 characters long and contain lowercase, uppercase, numeric, and special characters.";
                strengthText.style.color = "red";
            }
            if(!passwordsMatch) {
                // Append to existing message if necessary
                strengthText.innerHTML += (strengthText.innerHTML ? "<br>" : "") + "Passwords do not match.";
                strengthText.style.color = "red";
            }
            document.getElementById('sign-in-btn').disabled = true;
        }
    }
    </script>
    
</body>
</html>