<!--
Jonathan Sosa
dataMULE
May - June 23
-->
{% extends "base.html" %}
{% block content %}

<main>
    <div class="container-fluid">
        <h1>Select a team to edit the users on it!</h1>
    </div>
    
    <!-- columns for athltes and teams -->
    <div class="container-fluid" style="height: 80%;">
        <div class="row" style="height: 100%;">
            <div class="col-md-12">
                <h2 style="text-align: center; background-color: #002169;">Teams</h2>
                <input type="text" id="teamSearch" onkeyup="filterList(this, document.getElementById('teamList'))" placeholder="Search for teams.." style="background-color: #333; color: white; width: 100%;">
                <ul class="list-group" id="teamList" style="background-color: #333; height: 80%; overflow-y: auto;">
                    {% for team in teams %}
                        <a href="/team/edit/{{ team.id }}">
                            <li class="list-group-item" style="background-color: #333;">{{ team.name }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
    function filterList(inputElement, listElement) {
        let filter = inputElement.value.toUpperCase();
        let li = listElement.getElementsByTagName('li');
        
        // Loop through all list items, and hide those who don't match the search query
        for (let i = 0; i < li.length; i++) {
            let text = li[i].textContent || li[i].innerText;
            li[i].style.display = (text.toUpperCase().indexOf(filter) > -1) ? "" : "none";
        }
    }
    </script>

</main>

{% endblock %}