<!--
Jonathan Sosa
dataMULE
May - June 23
-->
{% extends "base.html" %}
{% block content %}
<main>
  <div class="container-fluid">
    <div class="card" style="margin-bottom: 15px;">
      <div class="card-body">
        <h1 class="card-title">{{team.name}},</h5> <!-- Breaking RFD -->
      </div>
    </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">FATIGUE</h5> <!-- Breaking RFD -->
          <p class="card-text">This is card 1.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">POWER</h5> <!-- RELATIVE POWER -->
          <p class="card-text">This is card 2.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MODIFIED REACTIVE STRENGHT INDEX</h5> <!-- MRSi -->
          <p class="card-text">This is card 3.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JUMP HEIGHT</h5>
          <p class="card-text">This is card 4.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="card" style="width: 100%; margin-top: 15px;">
        <div class="card-body">
          <h2 class="card-title">Athletes</h2>
          <div class="container-fluid">
            <table style="width:100%">
              <tr>
                <th style="width: 20%;">Name</th>
                <th style="width: 20%;">Position</th>
                <th style="width: 20%;">Status</th>
                <th style="width: 40%;">Notes</th>
              </tr>
              {% for athlete in athletes %}
              <tr>
                <td>
                  <a href="/athlete/{{ athlete.id }}">
                    {{ athlete.first_name }} {{ athlete.last_name }}</td>
                  </a>
                <td>
                  <select id="positionSelect{{ athlete.id }}" onchange="updatePosition({{ athlete.id }})">
                    <option value="Forward" {% if athlete.position == "Forward" %}selected{% endif %}>Forward</option>
                    <option value="Winger" {% if athlete.position == "Winger" %}selected{% endif %}>Winger</option>
                    <option value="Midfilder" {% if athlete.position == "Midfilder" %}selected{% endif %}>Midfilder</option>
                    <option value="Defender" {% if athlete.position == "Defender" %}selected{% endif %}>Defender</option>
                    <option value="GoalKeaper" {% if athlete.position == "GoalKeaper" %}selected{% endif %}>GoalKeaper</option>
                    <option value="Battery" {% if athlete.position == "Battery" %}selected{% endif %}>Battery</option>
                    <option value="Infield" {% if athlete.position == "Infield" %}selected{% endif %}>Infield</option>
                    <option value="Outfield" {% if athlete.position == "Outfield" %}selected{% endif %}>Outfield</option>
                    <option value="Rower" {% if athlete.position == "Rower" %}selected{% endif %}>Rower</option>
                    <option value="Coxswain" {% if athlete.position == "Coxswain" %}selected{% endif %}>Coxswain</option>
                    <option value="Other" {% if athlete.position == "Other" %}selected{% endif %}>Other</option>
                  </select>
                </td>
                <td>
                  {% if athlete.status == 0 %}
                  <p class="card-text" style="color: green;">Clear</p>
                  {% elif athlete.status == 1 %}
                  <p class="card-text" style="color: yellow;">Warning</p>
                  {% else %}
                  <p class="card-text" style="color: red;">Not Clear</p>
                  {% endif %}
                </td>
                <td>
                  {% if athlete.received_notes %}
                  {{ athlete.received_notes[-1].text if athlete.received_notes[-1].visible else "No visible notes" }}
                  {% else %}
                  No notes received
                  {% endif %}
                </td> 
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
    </div>
  </div>

</div>

<script>
  function updatePosition(athleteId) {
    var selectElement = document.getElementById("positionSelect" + athleteId);
    var position = selectElement.value;

    // Send AJAX request to update athlete position
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/update_position/" + athleteId, true);
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);
        if (response.success) {
          alert("Position updated successfully");
        } else {
          alert("Failed to update position");
        }
      }
    };

    var data = JSON.stringify({ position: position });
    xhr.send(data);
}

</script>

      
</main>

{% endblock %}