{% extends 'base.html' %}

{% block title %}Edit {{ edited_user.first_name }} {{ edited_user.last_name }}{% endblock %}

{% block content %}
<div class="top">
    <div class="menu" id="menu-btn" style="width: 2rem; height: 2rem;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentcolor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <h1>Welcome back {{user.first_name}} {{user.last_name}}!</h1>
</div>

<h1>Edit {{ edited_user.first_name }} {{ edited_user.last_name }}</h1>
<div class="one-col-dash">
    <form action="/user/edit/{{ edited_user.id }}" method="POST">
        
        <div class="btn-cluster-ind">
            <button type="submit" class="btn"><h2>Save Changes</h2></button>
        </div>

        <div class="btn-cluster-ind">
            <a type="button" class="btn" onclick="removeUser({{ edited_user.id }})"><h2>Remove User</h2></a>
        </div>

        <div class="input-box" style="width: 100%; padding-top: 1rem;">
            <input type="text" required="required" id="first_name" name="first_name" value="{{ edited_user.first_name }}">
            <span>Name(s)</span>
        </div>

        <div class="input-box" style="width: 100%; padding-top: 1rem;">
            <input type="text" required="required" id="last_name" name="last_name" value="{{ edited_user.last_name }}">
            <span>Last Name</span>
        </div>

        <div class="input-box" style="width: 100%; padding-top: 1rem;">
            <input type="email" required="required" id="email" name="email" value="{{ edited_user.email }}">
            <span>Email</span>
        </div>                    

        <div class="">
            <h3>User Type:</h3>
            <select id="type" style="cursor: pointer;" name="type" onchange="toggleOptions()">
                <option value="athlete" {% if edited_user.type == 'athlete' %}selected{% endif %}>Athlete</option>
                <option value="coach" {% if edited_user.type == 'coach' %}selected{% endif %}>Coach</option>
                <option value="peak" {% if edited_user.type == 'peak' %}selected{% endif %}>PEAK</option>
                <option value="admin" {% if edited_user.type == 'admin' %}selected{% endif %}>Admin</option>
            </select>
        </div>

        <!-- Additional options for Athlete -->
        <div id="athleteOptions" {% if edited_user.type != 'athlete' %}style="display: none;"{% endif %}>
            <div class="input-box" style="width: 100%; padding-top: 1rem;">
                <input type="text"  id="gender" name="gender" value="{{ edited_user.gender }}">
                <span>Gender</span>
            </div>
            
            <div class="input-box" style="width: 100%; padding-top: 1rem;">
                <input type="text"  id="class_year" name="class_year" value="{{ edited_user.class_year }}">
                <span>Class Year</span>
            </div>

            <div class="input-box" style="width: 100%; padding-top: 1rem;">
                <input type="text" id="hawkin_api_id" name="hawkin_api_id" value="{{ edited_user.hawkin_api_id }}">
                <span>Hawkin API ID</span>
            </div>
            
        </div>
        
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function toggleOptions() {
        var typeSelect = document.getElementById("type");
        var athleteOptions = document.getElementById("athleteOptions");

        if (typeSelect.value === "athlete") {
            athleteOptions.style.display = "block";
        } else {
            athleteOptions.style.display = "none";
        }
    }

    function removeUser(userId) {
        // Send AJAX request to remove the user
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/user/remove/" + userId, true);

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        alert("User removed successfully");
                        window.location.href = "/";  // Redirect to the desired page
                    } else {
                        alert("Failed to remove user");
                    }
                } else {
                    alert("Failed to remove user");
                }
            }
        };

        xhr.send();
    }
</script>
{% endblock %}
